.link-list-item-detail-body {
  position: relative;
}

.link-info {
  display: inline-block;
  padding: 30px;
  font-family: sans-serif;
}

.link-info.description {
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
}
