.container-fluid {
  width: 90%;
}

.container {
  padding-top: 20px;
  max-width: 400px;
}

.form-control {
  border-color: #ddd;
  cursor: pointer;
}

.form-control:focus {
  border-color: #ddd;
  box-shadow: 0 0 0 0.1rem rgb(238, 238, 238, 1);
}

.row {
  margin-top: 15px;
}

.page-link {
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  padding: 3px 10px;
}

.page-link:hover {
  color: #000;
}

.page-link:focus {
  border-color: #ddd;
  box-shadow: 0 0 0 0.1rem rgb(170, 170, 170);
}

a:hover {
  color: #000;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #000;
  color: #fff;
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-title {
  line-height: 0.3;
}

.modal-header button {
  color: #fff;
  opacity: 1;
  font-size: 30px;
  line-height: 0.1;
}

.modal-header button:hover {
  color: #aaaa;
}

.modal-header button:hover {
  outline: none;
}

.modal-footer {
  border-top: 0;
  margin: 0 auto;
}
